In [93]:
pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\david\appdata\local\programs\python\python312\lib\site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in c:\users\david\appdata\local\programs\python\python312\lib\site-packages (4.12.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\david\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\david\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\david\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\david\appdata\local\programs\python\python312\lib\site-packages (from requests) (2024.2.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\david\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [94]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\david\appdata\local\programs\python\python312\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [95]:
import requests
from bs4 import BeautifulSoup
import mysql.connector
import time


url = 'https://books.toscrape.com/catalogue/page-{}.html'

def get_page_content(page_url):
    response = requests.get(page_url)
    return BeautifulSoup(response.content, 'html.parser') 


def scrape_books_from_page(page_url):
    soup = get_page_content(page_url)
    book_containers = soup.find_all('article', class_='product_pod')
    books = []
    for container in book_containers:
        books.append(scrape_book_details(container))
    return books

def scrape_book_details(book_container):
    Title = book_container.find('h3').find('a')['title']
    Cost = book_container.find('p', class_='price_color').text.strip('£').replace('Â', '')
    Rating_text = book_container.find('p', class_='star-rating')['class'][1]
    Stock_Availability = book_container.find('p', class_='instock availability').text.strip()

    # Map rating text → numeric value
    rating_mapping = {
        "One": 1.0,
        "Two": 2.0,
        "Three": 3.0,
        "Four": 4.0,
        "Five": 5.0
    }
    Rating = rating_mapping.get(Rating_text, 0.0)

    return Title, Cost, Rating, Stock_Availability

    
page_url = url.format(1)


books_on_first_page = scrape_books_from_page(page_url)

for book in books_on_first_page:
    print(f"Title: {book[0]}, Cost: £{book[1]}, Rating: {book[2]} Stock_Availability: {book[3]}")

Title: A Light in the Attic, Cost: £51.77, Rating: 3.0 Stock_Availability: In stock
Title: Tipping the Velvet, Cost: £53.74, Rating: 1.0 Stock_Availability: In stock
Title: Soumission, Cost: £50.10, Rating: 1.0 Stock_Availability: In stock
Title: Sharp Objects, Cost: £47.82, Rating: 4.0 Stock_Availability: In stock
Title: Sapiens: A Brief History of Humankind, Cost: £54.23, Rating: 5.0 Stock_Availability: In stock
Title: The Requiem Red, Cost: £22.65, Rating: 1.0 Stock_Availability: In stock
Title: The Dirty Little Secrets of Getting Your Dream Job, Cost: £33.34, Rating: 4.0 Stock_Availability: In stock
Title: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull, Cost: £17.93, Rating: 3.0 Stock_Availability: In stock
Title: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics, Cost: £22.60, Rating: 4.0 Stock_Availability: In stock
Title: The Black Maria, Cost: £52.15, Rating: 1.0 Stock_Availability: In stock
Title: Starving Hearts (Triangular Trade Trilogy, #1), Cost: £13.99, Rating: 2.0 Stock_Availability: In stock
Title: Shakespeare's Sonnets, Cost: £20.66, Rating: 4.0 Stock_Availability: In stock
Title: Set Me Free, Cost: £17.46, Rating: 5.0 Stock_Availability: In stock
Title: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1), Cost: £52.29, Rating: 5.0 Stock_Availability: In stock
Title: Rip it Up and Start Again, Cost: £35.02, Rating: 5.0 Stock_Availability: In stock
Title: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991, Cost: £57.25, Rating: 3.0 Stock_Availability: In stock
Title: Olio, Cost: £23.88, Rating: 1.0 Stock_Availability: In stock
Title: Mesaerion: The Best Science Fiction Stories 1800-1849, Cost: £37.59, Rating: 1.0 Stock_Availability: In stock
Title: Libertarianism for Beginners, Cost: £51.33, Rating: 2.0 Stock_Availability: In stock
Title: It's Only the Himalayas, Cost: £45.17, Rating: 2.0 Stock_Availability: In stock

In [96]:
all_books = []

page_number = 1

while True:
    # Construct the URL for the current page
    page_url = url.format(page_number)
    
    # Scrape books from the current page
    full_book_and_containers_on_page = scrape_books_from_page(page_url)

    # If no books are found, break the loop (assuming no books means we've reached the end)
    if not full_book_and_containers_on_page:
        break
    
    # Add the books from the current page to the all_books list
    all_books.extend(full_book_and_containers_on_page)

    print(f"Page {page_number}: Found {len(full_book_and_containers_on_page)} books")
    
    page_number += 1
time.sleep(2)

for book in all_books:
    Title, Cost, Rating, Stock_Availability = book
    savetoDB(Title, Cost, Rating, Stock_Availability)

Page 1: Found 20 books
Page 2: Found 20 books
Page 3: Found 20 books
Page 4: Found 20 books
Page 5: Found 20 books
Page 6: Found 20 books
Page 7: Found 20 books
Page 8: Found 20 books
Page 9: Found 20 books
Page 10: Found 20 books
Page 11: Found 20 books
Page 12: Found 20 books
Page 13: Found 20 books
Page 14: Found 20 books
Page 15: Found 20 books
Page 16: Found 20 books
Page 17: Found 20 books
Page 18: Found 20 books
Page 19: Found 20 books
Page 20: Found 20 books
Page 21: Found 20 books
Page 22: Found 20 books
Page 23: Found 20 books
Page 24: Found 20 books
Page 25: Found 20 books
Page 26: Found 20 books
Page 27: Found 20 books
Page 28: Found 20 books
Page 29: Found 20 books
Page 30: Found 20 books
Page 31: Found 20 books
Page 32: Found 20 books
Page 33: Found 20 books
Page 34: Found 20 books
Page 35: Found 20 books
Page 36: Found 20 books
Page 37: Found 20 books
Page 38: Found 20 books
Page 39: Found 20 books
Page 40: Found 20 books
Page 41: Found 20 books
Page 42: Found 20 books
Page 43: Found 20 books
Page 44: Found 20 books
Page 45: Found 20 books
Page 46: Found 20 books
Page 47: Found 20 books
Page 48: Found 20 books
Page 49: Found 20 books
Page 50: Found 20 books
Attempting to save: A Light in the Attic, 51.77, 3.0, In stock
CONNECTED
Executing SQL with values: ('A Light in the Attic', 51.77, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'A Light in the Attic' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Tipping the Velvet, 53.74, 1.0, In stock
CONNECTED
Executing SQL with values: ('Tipping the Velvet', 53.74, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Tipping the Velvet' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Soumission, 50.1, 1.0, In stock
CONNECTED
Executing SQL with values: ('Soumission', 50.1, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Soumission' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Sharp Objects, 47.82, 4.0, In stock
CONNECTED
Executing SQL with values: ('Sharp Objects', 47.82, 4.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Sharp Objects' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Sapiens: A Brief History of Humankind, 54.23, 5.0, In stock
CONNECTED
Executing SQL with values: ('Sapiens: A Brief History of Humankind', 54.23, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Sapiens: A Brief History of Humankind' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Requiem Red, 22.65, 1.0, In stock
CONNECTED
Executing SQL with values: ('The Requiem Red', 22.65, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Requiem Red' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Dirty Little Secrets of Getting Your Dream Job, 33.34, 4.0, In stock
CONNECTED
Executing SQL with values: ('The Dirty Little Secrets of Getting Your Dream Job', 33.34, 4.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Dirty Little Secrets of Getting Your Dream Job' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull, 17.93, 3.0, In stock
CONNECTED
Executing SQL with values: ('The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull', 17.93, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Coming Woman: A Novel Based on the Life of the Infamous Femi' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics, 22.6, 4.0, In stock
CONNECTED
Executing SQL with values: ('The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 22.6, 4.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Boys in the Boat: Nine Americans and Their Epic Quest for Go' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Black Maria, 52.15, 1.0, In stock
CONNECTED
Executing SQL with values: ('The Black Maria', 52.15, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Black Maria' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Starving Hearts (Triangular Trade Trilogy, #1), 13.99, 2.0, In stock
CONNECTED
Executing SQL with values: ('Starving Hearts (Triangular Trade Trilogy, #1)', 13.99, 2.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Starving Hearts (Triangular Trade Trilogy, #1)' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Shakespeare's Sonnets, 20.66, 4.0, In stock
CONNECTED
Executing SQL with values: ("Shakespeare's Sonnets", 20.66, 4.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Shakespeare's Sonnets' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Set Me Free, 17.46, 5.0, In stock
CONNECTED
Executing SQL with values: ('Set Me Free', 17.46, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Set Me Free' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1), 52.29, 5.0, In stock
CONNECTED
Executing SQL with values: ("Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", 52.29, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Rip it Up and Start Again, 35.02, 5.0, In stock
CONNECTED
Executing SQL with values: ('Rip it Up and Start Again', 35.02, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Rip it Up and Start Again' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991, 57.25, 3.0, In stock
CONNECTED
Executing SQL with values: ('Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991', 57.25, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Our Band Could Be Your Life: Scenes from the American Indie Unde' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Olio, 23.88, 1.0, In stock
CONNECTED
Executing SQL with values: ('Olio', 23.88, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Olio' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Mesaerion: The Best Science Fiction Stories 1800-1849, 37.59, 1.0, In stock
CONNECTED
Executing SQL with values: ('Mesaerion: The Best Science Fiction Stories 1800-1849', 37.59, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Mesaerion: The Best Science Fiction Stories 1800-1849' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Libertarianism for Beginners, 51.33, 2.0, In stock
CONNECTED
Executing SQL with values: ('Libertarianism for Beginners', 51.33, 2.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Libertarianism for Beginners' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: It's Only the Himalayas, 45.17, 2.0, In stock
CONNECTED
Executing SQL with values: ("It's Only the Himalayas", 45.17, 2.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'It's Only the Himalayas' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: In Her Wake, 12.84, 1.0, In stock
CONNECTED
Executing SQL with values: ('In Her Wake', 12.84, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'In Her Wake' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: How Music Works, 37.32, 2.0, In stock
CONNECTED
Executing SQL with values: ('How Music Works', 37.32, 2.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'How Music Works' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Foolproof Preserving: A Guide to Small Batch Jams, Jellies, Pickles, Condiments, and More: A Foolproof Guide to Making Small Batch Jams, Jellies, Pickles, Condiments, and More, 30.52, 3.0, In stock
CONNECTED
Executing SQL with values: ('Foolproof Preserving: A Guide to Small Batch Jams, Jellies, Pickles, Condiments, and More: A Foolproof Guide to Making Small Batch Jams, Jellies, Pickles, Condiments, and More', 30.52, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Foolproof Preserving: A Guide to Small Batch Jams, Jellies, Pick' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Chase Me (Paris Nights #2), 25.27, 5.0, In stock
CONNECTED
Executing SQL with values: ('Chase Me (Paris Nights #2)', 25.27, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Chase Me (Paris Nights #2)' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Black Dust, 34.53, 5.0, In stock
CONNECTED
Executing SQL with values: ('Black Dust', 34.53, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Black Dust' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Birdsong: A Story in Pictures, 54.64, 3.0, In stock
CONNECTED
Executing SQL with values: ('Birdsong: A Story in Pictures', 54.64, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Birdsong: A Story in Pictures' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: America's Cradle of Quarterbacks: Western Pennsylvania's Football Factory from Johnny Unitas to Joe Montana, 22.5, 3.0, In stock
CONNECTED
Executing SQL with values: ("America's Cradle of Quarterbacks: Western Pennsylvania's Football Factory from Johnny Unitas to Joe Montana", 22.5, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'America's Cradle of Quarterbacks: Western Pennsylvania's Footbal' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Aladdin and His Wonderful Lamp, 53.13, 3.0, In stock
CONNECTED
Executing SQL with values: ('Aladdin and His Wonderful Lamp', 53.13, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Aladdin and His Wonderful Lamp' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Worlds Elsewhere: Journeys Around Shakespeare’s Globe, 40.3, 5.0, In stock
CONNECTED
Executing SQL with values: ('Worlds Elsewhere: Journeys Around Shakespeare’s Globe', 40.3, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Worlds Elsewhere: Journeys Around Shakespeare’s Globe' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Wall and Piece, 44.18, 4.0, In stock
CONNECTED
Executing SQL with values: ('Wall and Piece', 44.18, 4.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Wall and Piece' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Four Agreements: A Practical Guide to Personal Freedom, 17.66, 5.0, In stock
CONNECTED
Executing SQL with values: ('The Four Agreements: A Practical Guide to Personal Freedom', 17.66, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Four Agreements: A Practical Guide to Personal Freedom' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Five Love Languages: How to Express Heartfelt Commitment to Your Mate, 31.05, 3.0, In stock
CONNECTED
Executing SQL with values: ('The Five Love Languages: How to Express Heartfelt Commitment to Your Mate', 31.05, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Five Love Languages: How to Express Heartfelt Commitment to ' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Elephant Tree, 23.82, 5.0, In stock
CONNECTED
Executing SQL with values: ('The Elephant Tree', 23.82, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Elephant Tree' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Bear and the Piano, 36.89, 1.0, In stock
CONNECTED
Executing SQL with values: ('The Bear and the Piano', 36.89, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Bear and the Piano' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Sophie's World, 15.94, 5.0, In stock
CONNECTED
Executing SQL with values: ("Sophie's World", 15.94, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Sophie's World' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Penny Maybe, 33.29, 3.0, In stock
CONNECTED
Executing SQL with values: ('Penny Maybe', 33.29, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Penny Maybe' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Maude (1883-1993):She Grew Up with the country, 18.02, 2.0, In stock
CONNECTED
Executing SQL with values: ('Maude (1883-1993):She Grew Up with the country', 18.02, 2.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Maude (1883-1993):She Grew Up with the country' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: In a Dark, Dark Wood, 19.63, 1.0, In stock
CONNECTED
Executing SQL with values: ('In a Dark, Dark Wood', 19.63, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'In a Dark, Dark Wood' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Behind Closed Doors, 52.22, 4.0, In stock
CONNECTED
Executing SQL with values: ('Behind Closed Doors', 52.22, 4.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Behind Closed Doors' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: You can't bury them all: Poems, 33.63, 2.0, In stock
CONNECTED
Executing SQL with values: ("You can't bury them all: Poems", 33.63, 2.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'You can't bury them all: Poems' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Slow States of Collapse: Poems, 57.31, 3.0, In stock
CONNECTED
Executing SQL with values: ('Slow States of Collapse: Poems', 57.31, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Slow States of Collapse: Poems' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Reasons to Stay Alive, 26.41, 2.0, In stock
CONNECTED
Executing SQL with values: ('Reasons to Stay Alive', 26.41, 2.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Reasons to Stay Alive' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Private Paris (Private #10), 47.61, 5.0, In stock
CONNECTED
Executing SQL with values: ('Private Paris (Private #10)', 47.61, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Private Paris (Private #10)' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: #HigherSelfie: Wake Up Your Life. Free Your Soul. Find Your Tribe., 23.11, 5.0, In stock
CONNECTED
Executing SQL with values: ('#HigherSelfie: Wake Up Your Life. Free Your Soul. Find Your Tribe.', 23.11, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry '#HigherSelfie: Wake Up Your Life. Free Your Soul. Find Your Trib' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Without Borders (Wanderlove #1), 45.07, 2.0, In stock
CONNECTED
Executing SQL with values: ('Without Borders (Wanderlove #1)', 45.07, 2.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Without Borders (Wanderlove #1)' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: When We Collided, 31.77, 1.0, In stock
CONNECTED
Executing SQL with values: ('When We Collided', 31.77, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'When We Collided' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: We Love You, Charlie Freeman, 50.27, 5.0, In stock
CONNECTED
Executing SQL with values: ('We Love You, Charlie Freeman', 50.27, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'We Love You, Charlie Freeman' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Untitled Collection: Sabbath Poems 2014, 14.27, 4.0, In stock
CONNECTED
Executing SQL with values: ('Untitled Collection: Sabbath Poems 2014', 14.27, 4.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Untitled Collection: Sabbath Poems 2014' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Unseen City: The Majesty of Pigeons, the Discreet Charm of Snails & Other Wonders of the Urban Wilderness, 44.18, 4.0, In stock
CONNECTED
Executing SQL with values: ('Unseen City: The Majesty of Pigeons, the Discreet Charm of Snails & Other Wonders of the Urban Wilderness', 44.18, 4.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Unseen City: The Majesty of Pigeons, the Discreet Charm of Snail' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Unicorn Tracks, 18.78, 3.0, In stock
CONNECTED
Executing SQL with values: ('Unicorn Tracks', 18.78, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Unicorn Tracks' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink, 25.52, 1.0, In stock
CONNECTED
Executing SQL with values: ('Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink', 25.52, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Unbound: How Eight Technologies Made Us Human, Transformed Socie' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRoNiCLE #2), 16.28, 1.0, In stock
CONNECTED
Executing SQL with values: ('Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRoNiCLE #2)', 16.28, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRoNiCLE #2)' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Throwing Rocks at the Google Bus: How Growth Became the Enemy of Prosperity, 31.12, 3.0, In stock
CONNECTED
Executing SQL with values: ('Throwing Rocks at the Google Bus: How Growth Became the Enemy of Prosperity', 31.12, 3.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Throwing Rocks at the Google Bus: How Growth Became the Enemy of' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: This One Summer, 19.49, 4.0, In stock
CONNECTED
Executing SQL with values: ('This One Summer', 19.49, 4.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'This One Summer' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: Thirst, 17.27, 5.0, In stock
CONNECTED
Executing SQL with values: ('Thirst', 17.27, 5.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'Thirst' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Torch Is Passed: A Harding Family Story, 19.09, 1.0, In stock
CONNECTED
Executing SQL with values: ('The Torch Is Passed: A Harding Family Story', 19.09, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Torch Is Passed: A Harding Family Story' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Secret of Dreadwillow Carse, 56.13, 1.0, In stock
CONNECTED
Executing SQL with values: ('The Secret of Dreadwillow Carse', 56.13, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Secret of Dreadwillow Carse' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Pioneer Woman Cooks: Dinnertime: Comfort Classics, Freezer Food, 16-Minute Meals, and Other Delicious Ways to Solve Supper!, 56.41, 1.0, In stock
CONNECTED
Executing SQL with values: ('The Pioneer Woman Cooks: Dinnertime: Comfort Classics, Freezer Food, 16-Minute Meals, and Other Delicious Ways to Solve Supper!', 56.41, 1.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Pioneer Woman Cooks: Dinnertime: Comfort Classics, Freezer F' for key 'bookdata.title_UNIQUE'
Connection closed.
Attempting to save: The Past Never Ends, 56.5, 4.0, In stock
CONNECTED
Executing SQL with values: ('The Past Never Ends', 56.5, 4.0, 'In stock')
MySQL Error: 1062 (23000): Duplicate entry 'The Past Never Ends' for key 'bookdata.title_UNIQUE'
Connection closed.